/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
main{
    padding: 0;
}
:root{
    --card-dimension:250px;
    --A100: #d7ccc8;
    --A200: #bcaaa4;
    --A400: #8d6e63;
    --A700: #5d4037;
    font-family: 'Roboto' ,sans-serif;
}
img{
    max-width: 100%;
    max-height: 100%;
}
*{
    box-sizing: border-box;
}


header{
    background-color: var(--A700);
}

header > h1{
    font-size: 32px;
    padding: 1rem;
    font-weight: bold;
}

a {
    color: var(--A100);
}


footer{
    background-color: var(--A700);
    height: 7vh;

    width: 100vw;
    position: relative;
}

main{
    min-height: 76.8vh;
    background-image: url(./images/background.jpg);
    background-position:center;
    background-size: 100%;
    padding-block: 2em;
}

#cards-wrap{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, var(--card-dimension));
    grid-auto-rows: 1fr;
    margin-inline: auto;
    gap: 1rem;
}
a{
    text-decoration: none; /* no underline */
}

.card{
    background-color: var(--A200);
    width: var(--card-dimension);
    height: var(--card-dimension);   
}

#cards-wrap>li{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;

}

.card> img{
    padding-top: 5%;
    width: 80%;
    min-height: 80%;

    margin-inline: auto;
}

.card>a{
    padding-top:10px;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-inline: 1rem;
}

footer>a{
    margin-right: 1em;
    color: black;

}

section{
    width: 80%;
    margin-inline: auto;
}
.name{
    margin-top: 4px;
}
.split{
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin-bottom: 32px;

    background-color: var(--A700);
    padding: 6px;

    border: 6px solid var(--A400);
    border-radius: 10px;
}

.split > *{
    width: 45%;

    text-align: center;
}

#about-main-content{
    padding: 0;

    padding-bottom: 32px;

    color: whitesmoke;
}

.split>.about-text{
    display: flex;
    align-items: center;
    min-height: 100%;
}

section#content>p{
    padding: 1em;
    border: 6px solid var(--A400);
    background-color: var(--A700);
    border-radius: 10px;
}
#contact-main-content{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

#contact-form{
    
    display: flex;
    flex-flow: column;

    background-color: var(--A400);
    border: 6px solid var(--A100);
    border-radius: 10px;

    padding: 8px;

}
h1.callToAction{
    color: var(--A700);
    font-size: 2.5em;
}
#contact-form > .main-identifiers{
    display: flex;
    flex-direction: column;

    align-items: center;
}

#contact-form,.callToAction{
    width: max(600px,45%);
    margin-inline:auto;
}

.callToAction{
    font-size: 1.5em;
    font-weight: bold;

    text-align: center;
}

.input-label-wrap{
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;

    margin-bottom: 8px;
}

.secondary-identifiers{
    display: flex;
    flex-direction: column;

}
#messageForm{
    resize: none;

    margin-block: 12px;
}

.radio-wrap{
    margin-bottom: 8px;
}

.btn-wrap{
    margin-top: 24px;
}

#browse-nav{
    position: relative;
    display: flex;
    flex: 1 1 0;

    padding: 0.5em;

    background-color:var(--A400);
}

.nav-item{
    width: fit-content;
    margin-inline: 1em;
    font-size: 1.2em;
}

button.nav-item{
    font-weight: bold;
    background-color: #093430;
    color: white;
    border: 2px solid white;

    border-radius: 5px;
}

button.nav-item:hover{
    background-color: white;
    color: #093430;
    border: 2px solid #093430;

    -webkit-transition: background-color 0.5s;
    -webkit-transition: color 0.5s;

    cursor: pointer;
}
button.nav-item:nth-child(1):hover{
    background-color: lightseagreen;
}
button.nav-item:nth-child(2):hover{
    background-color: lightcoral;
    
}
#browse-nav> select{
    position: absolute;

    right: 2%;
}
#grid-products{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr  ;

    gap: 0.5em;

    width: 80%;
    margin-inline: auto;

    grid-template-areas: "title title title full1 full1 full1"
                         "half1 half1 half1 half2 half2 half2 "
                         "thir1 thir1 thir2 thir2 thir3 thir3 ";

    margin-bottom: 2em;
}

#jeans-product{grid-area: full1;}
#shirt-product{grid-area: half1;}
#tshirt-product,#skirt-product{grid-area: half2;}
#jacket-product{grid-area: thir1;}
#accessory-product{grid-area: thir2;}
#shoe-product{grid-area: thir3;}
#grid-title{
    grid-area: title; 
    display: flex;
    justify-content: center;
align-items: center;}

#grid-title.callToAction{
    width: 100%;
    margin: 0;
    background-color: var(--A400);
    color: var(--A200);

    text-align: center;
}


.product{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color:var(--A400);
    
    padding-inline: 1em;

    width: 100%;
    height: 180px;

}
div.fullrow{
    justify-content: space-around;
}

.product  img{
    border-radius: 50%;
    height: 50%;
    cursor: pointer;
}

.product img:hover{
    height: 60%;
}

.description-wrap{
    display: flex;
    flex-flow: column;
    justify-content:center;
    position: relative;
}

.description-wrap > h3{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

#product-showcase{
    width: max(600px,80%);
    margin-inline: auto;
    
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 0.5em;
}
#product-showcase > .pricing-card{
    background-color: var(--A400);
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 180px;
    position: relative;
}
.card-image{
    width:40%
}

#product-showcase > .pricing-card > .card-image > img{
    height: min(150px,100%)
}

.card-description{
    max-width: 40%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}


.pricing-card .price{
    position: absolute;
    bottom: 4px;
    right: 8px;
}

.choose{
    width: 80%;
    margin-inline:auto;

    display: flex;

}

.choose > div{
    width: 50%;
    text-align: center;
}

.choose>div>button{
    width: 15em;
    height: 15em;
    border-radius: 50%;
    border: 2px solid lightgray;
    cursor: pointer;
}

.choose>div>button:hover{

    border: 2px solid rgb(0, 0, 0);

}

.man > button{
    background-image: url(./images/male-gender.png);
    background-size: 10em;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(75, 182, 249);
}

.woman > button{
    background-image: url(./images/femenine.png);
    background-size: 10em;
    background-repeat: no-repeat;
    background-position: center;
    background-color: pink;
}

#main-shoes-content{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#main-shoes-content h2{
    font-size: 1.5em;
    margin-bottom:40px ;
    color: var(--A100);
}

main .callToAction{
    margin-block: 6.4vh;
}

.product{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}


