/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
main{
    padding: 0;
    height: 100%;
}
:root{
    --card-dimension:150px;
    font-family: 'Roboto' ,sans-serif;
}
img{
    max-width: 100%;
    max-height: 100%;
}
*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    flex-direction: column;

    justify-content: space-between;
}


header{
    background-color: #26a69a;
}

header > h1{
    font-size: 32px;
    padding: 1rem;
    font-weight: bold;
}

a {
    color: #093430;
}

main{
    background-color: white;
    position: relative;
   /* min-height: (80vh - 40px - 1rem);*/
}

footer{
    background-color: aquamarine;
    height: 7vh;

    position: absolute;
    bottom: 0;
    width: 100vw;
}

#cards-wrap{
    width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-dimension));
    grid-auto-rows: 1fr;
    margin-inline: auto;
    gap: 1rem;
    margin-top: 40px;
}
a{
    text-decoration: none; /* no underline */
}

.card{
    background-color: #b2dfdb;
    width: var(--card-dimension);
    height: var(--card-dimension);   
}

#cards-wrap>li{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.card> img{
    padding-top: 5%;
    width: 80%;
    min-height: 80%;

    margin-inline: auto;
}

.card>a{
    padding-top: 4px;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-inline: 1rem;

    margin-top: 1em;
}

footer>a{
    margin-right: 1em;
    color: black;

}

section{
    width: 80%;
    margin-inline: auto;
}
.name{
    margin-top: 4px;
}
.split{
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 80%;
    flex-basis: 300px;

    align-items: center;

    background-color: #26a69a;
    padding: 6px;

    border: 6px solid #093430;
    border-radius: 10px;
}

.split > *{
    width: 45%;

    text-align: center;
}

.split>.about-text{
    display: flex;
    align-items: center;
    min-height: 100%;
}

section#content>p{
    margin-block: 32px;
}

.callToAction{
    margin-block-start:1em;
}

#contact-form{
    
    display: flex;
    flex-flow: column;

    background-color: #26a69a;
    border: 6px solid #093430;
    border-radius: 10px;

    padding: 8px;

    margin-bottom: 5%;
}

#contact-form > .main-identifiers{
    display: flex;
    flex-direction: column;

    align-items: center;
}

#contact-form,.callToAction{
    width: max(600px,45%);
    margin-inline:auto;
}

.callToAction{
    font-size: 1.5em;
    font-weight: bold;

    text-align: center;
}

.input-label-wrap{
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;

    margin-bottom: 8px;
}

.secondary-identifiers{
    display: flex;
    flex-direction: column;

}
#messageForm{
    resize: none;

    margin-block: 12px;
}

.radio-wrap,.file-wrap{
    margin-bottom: 6px;
}

.btn-wrap{
    margin-top: 16px;
}
#browse-nav{
    position: relative;
    display: flex;
    flex: 1 1 0;

    padding: 0.5em;

    background-color:#16e5d3;

    margin-bottom: 1em;
}

.nav-item{
    width: fit-content;
    margin-inline: 1em;
    font-size: 1.2em;
}

button.nav-item{
    font-weight: bold;
    background-color: #093430;
    color: white;
    border: 2px solid white;

    border-radius: 5px;
}

button.nav-item:hover{
    background-color: white;
    color: #093430;
    border: 2px solid #093430;

    -webkit-transition: background-color 0.5s;
    -webkit-transition: color 0.5s;

    cursor: pointer;
}
#browse-nav> select{
    position: absolute;

    right: 2%;
}
#grid-products{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr  ;

    gap: 0.5em;

    width: 80%;
    margin-inline: auto;

    grid-template-areas: "full1 full1 full1 full1 full1 full1"
                         "half1 half1 half1 half2 half2 half2 "
                         "thir1 thir1 thir2 thir2 thir3 thir3 ";
}

#jeans-product{grid-area: full1;}
#shirt-product{grid-area: half1;}
#tshirt-product,#skirt-product{grid-area: half2;}
#jacket-product{grid-area: thir1;}
#accessory-product{grid-area: thir2;}
#shoe-product{grid-area: thir3;}

.product{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #16e5d3;
    
    padding-inline: 1em;

    width: 100%;
    height: 150px;

}
div.fullrow{
    justify-content: space-around;
}
.product > img{
    border-radius: 5px;
    height: min(100%,100px);
}

.description-wrap{
    display: flex;
    flex-flow: column;
    justify-content:center;
    position: relative;
}

.description-wrap > h3{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

#woman-content .product{
    background-color: magenta;
}

#woman-content + footer{
    background-color: violet;
}

#woman-content > header{
    background-color: magenta;

}

#woman-content > header a{ 
    color:black;
    
}

#woman-content > nav {
    background-color: rgb(141, 11, 141);
}

#woman-content > nav >button.nav-item{
    font-weight: bold;
    background-color: pink;
    color: white;
    border: 2px solid magenta;

    border-radius: 5px;
}

#woman-content > nav >button.nav-item:hover{
    background-color: magenta;
    color: black;
    border: 2px solid white;

    -webkit-transition: background-color 0.5s;
    -webkit-transition: color 0.5s;

    cursor: pointer;
}

#product-showcase{
    width: max(600px,80%);
    margin-inline: auto;
    
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 0.5em;
}
#product-showcase > .pricing-card{
    background-color: #16e5d3;
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 180px;
    position: relative;
}
.card-image{
    width:40%
}

#product-showcase > .pricing-card > .card-image > img{
    height: min(150px,100%)
}

.card-description{
    max-width: 40%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}


.pricing-card .price{
    position: absolute;
    bottom: 4px;
    right: 8px;
}

.choose{
    width: 80%;
    margin-inline:auto;

    display: flex;
}

.choose > div{
    width: 50%;
    text-align: center;
}

.choose>div>button{
    width: 15em;
    height: 15em;
    border-radius: 10px;

}

.man > button{
    background-image: url(./images/male-gender.png);
    background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
    background-color: blue;
}

.woman > button{
    background-image: url(./images/femenine.png);
    background-size: 15em;
    background-repeat: no-repeat;
    background-position: center;
    background-color: pink;
}