/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{
    --card-dimension:165px;
    font-family: 'Roboto' ,sans-serif;
}
img{
    max-width: 100%;
    max-height: 100%;
}
*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;

    flex-direction: column;

    justify-content: space-between;
}

header{
    background-color: #26a69a;
}

header > h1{
    font-size: 32px;
    padding: 1rem;
    font-weight: bold;
}

h1 > a {
    color: #093430;
}

main{
    background-color: white;
    padding: 1rem;
    min-height: calc(85vh - 1rem - 32px);
}

footer{
    background-color: aquamarine;
    height: 7vh;
}

#cards-wrap{
    width: 350px;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-dimension));
    grid-auto-rows: 1fr;
    margin-inline: auto;
    gap: 1rem;
}
a{
    text-decoration: none; /* no underline */
}

.card{
    background-color: #b2dfdb;
    width: var(--card-dimension);
    height: var(--card-dimension);   
}

#cards-wrap>li{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.card> img{
    padding-top: 5%;
    width: 80%;
    min-height: 80%;

    margin-inline: auto;
}

.card>a{
    padding-top: 4px;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-inline: 1rem;
}

footer>a{
    margin-right: 1em;
    color: black;

}

section{
    width: 80%;
    margin-inline: auto;
}
.name{
    margin-top: 4px;
}
.split{
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 80%;
    flex-basis: 300px;

    align-items: center;

    background-color: #26a69a;
    padding: 6px;

    border: 6px solid #093430;
    border-radius: 10px;
}

.split > *{
    width: 45%;

    text-align: center;
}

.split>.about-text{
    display: flex;
    align-items: center;
    min-height: 100%;
}

section#content>p{
    margin-block: 32px;
}

#contact-form{
    
    display: flex;
    flex-flow: column;

    background-color: #26a69a;
    border: 6px solid #093430;
    border-radius: 10px;

    padding: 8px;

    margin-bottom: 5%;
}

#contact-form > .main-identifiers{
    display: flex;
    flex-direction: column;

    align-items: center;
}

#contact-form,.callToAction{
    width: max(600px,45%);
    margin-inline:auto;
}

.callToAction{
    font-size: 1.5em;
    font-weight: bold;

    text-align: center;
}

.input-label-wrap{
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;

    margin-bottom: 8px;
}

.secondary-identifiers{
    display: flex;
    flex-direction: column;

}
#messageForm{
    resize: none;

    margin-block: 12px;
}

.radio-wrap,.file-wrap{
    margin-bottom: 6px;
}

.btn-wrap{
    margin-top: 16px;
}